<body>
  {{> page}}
</body>

<template name="page">
  {{! Shows up as raw template when set in head tag }}
  <title>{{ title }}</title>

  <div class="container">
    <h1>{{ title }}</h1>
    {{> game }}
  </div>
</template>

<template name="game">
{{#with game}}

<div id="turn-info">
  <h2>
    {{#if to_move}}
      {{ to_move }}'s Turn
    {{/if}}
    {{#if winner}}
      {{ winner }} Wins!
    {{/if}}
  </h2>
</div>

<div class="board grid">
  {{! crashed trying to parse with @index https://github.com/wycats/handlebars.js/issues/250 }}
  {{#each range board.height}}
  <div>
    {{#each range ../board.width}}
    <span class="square {{ disabled ../../this ../this this }}"
    data-board-index="{{ cellIndex ../../this ../this this }}">
    {{ cellValue ../../this ../this this }}
    </span>
    {{/each}}
  </div>
    {{/each}}
</div>

{{#if winner}}
<div id="play-again-button" class="btn btn-large btn-primary">
  Play Again?
</div>
{{/if}}

{{/with}}
</template>
