.container {
   margin: auto;
   width: 300px;
   text-align: center;
}
.board {
   height: 300px;
}
.square {
   margin: 0;
   padding: 0;
   cursor: pointer;
   width: 88px;
   height: 88px;
   line-height: 88px;
   border: 4px solid white;
   padding: 2px;
   float: left;
   text-align: center;
   background-color:#eeeee8;
   font-size: 65px;
}
.square.disabled {
   cursor: not-allowed;
}
#play-again-button {
   margin: 8px;
}